@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

.titles {
  font-family: "Yeseva One", cursive;
}

.titles2 {
  font-family: "Playfair Display", serif;
}

.curtain {
  @apply relative z-10;
}

.curtain > div {
  @apply z-10;
}

.curtain::before {
  @apply bg-black opacity-20 absolute w-full h-full top-0 left-0 z-0 lg:hidden;
  content: "";
}
